<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Without date formatting: {{.}}

With date formatting: {{fdateMDY .}}

With Kitchen formatting: {{kitchen .}}

With RFC850 formatting: {{fulldateFmt .}}

With personalDate formatting:
-----
{{personalFmt .}}
-----
</body>
</html>